@import '../../variables';

.results {
    background-color: #efefef;
    padding: 3em;
    padding-bottom: 5em;

    .inner {
        margin: auto;
        max-width: 1000px;
    }

    p {
        color: rgb(64, 56, 56)!important;
        margin-top: 1em;
        margin-bottom: 2em;
    }

    video {
        max-height: 60vh;
        border-radius: 1em;
    }

    iframe {
        height: 60vh;
        width: 100%;
        max-width: 700px;
        border-radius: 1em;
        border: 2px solid $text-color;
        outline: none;
    }
    
    h2 {
        color: rgb(64, 56, 56);
        font-size: 30px;
        margin-bottom: 0em;
        margin-top: 2em;
    }

    button {
        border-color: rgba(0, 0, 0, 0.88);
    }
}

.chart-container {
    width: 100%;
    height: 30vw;
}

@media(max-width: 800px) {
    .results {
        padding: 1em;

        .chart-container {
            height: 20em;
        }
    }
}
