@import '../../variables';

.blogpost {
    background-color: $text-color;
    width: 24em;
    height: 35em;
    border-radius: 20px;
    margin-top: 3.5vw;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.blogpost::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(transparent 70%, $text-color 80% );
    z-index: 11;
}

#blogpost_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image_wrapper_blog{
    height: 13em;
    overflow: hidden;

    img {
        font-size: 30px;
        line-height: 7em;
        text-align: center;
    }
}

.blog_picture{
    border-radius: 20px 20px 0 0;
    width: 24em !important;
}

.blogdata{
    color: $blog-color;
    font-size: .9em;
}

.blogdata_title{
    color: $blog-color;
    word-wrap: break-word;
    font-size: 2em !important;
    padding: 0;
    margin: 0;
}

.blogdata_p{
    color: $blog-textcolor !important;
}

.content-wrapper {
    padding: 1em 2em 2em 2em;

    h1 {
        margin-top: .2em!important;
    }
}

@media (max-width: 500px){
    .blogpost {
        width: 100vw !important;
        margin-left: 0;
        border-radius: 0;
    }

    .blog-container.nopad {
        padding: 0!important;
    }

    .image_wrapper_blog img{
        border-radius: 0;
        width: 100vw !important;
    }
}

