@import '../../variables';

.h1_home{
    margin: 0;
    padding-top: 0em!important;
    color: $text-color;
    font-family: $headings;
    z-index: 10;
    font-size: 5vw !important;
    font-weight: lighter;
}

p{
    color: $text-color !important;
    z-index: 10;
}

.home-top {
    padding-top: calc(100px + 5em)!important;
}

.home-top, .project-top{
    padding: 100px 7vw 5em 7vw;
    background-image: url('/graphics/galaxy.jpg');
    background-size: cover;
    background-position: bottom;
    position: relative;
    overflow-y: hidden;
    margin-top: -100px;

    * {
        z-index: 1;
        position: relative;
    }

    &::after {
        content: '';
        position: absolute!important;
        width: 100%;
        height: 300vh;
        top: 0;
        left: 0;
        opacity: 0.718;
        background-color: #111555ff;
    }
}

#logo_circle {
    width: 100%;
}

.home-content{
    position: relative;
    margin-top: 4em;
    min-height: 100vh;
}

h2{
    font-family: $headings;
    color: $text-color;
    font-weight: lighter;
    margin-left: 7vw;
}

@media (max-width: 1000px){
    .h1_home{
        font-size: 7vw !important;
    }
}

@media (max-width: 900px){
    .h1_home{
        font-size: 8vw !important;
    }

    #logo_circle {
        width: 40%;
        margin: auto;
    }

    .home-top {
        flex-wrap: wrap;
        gap: 1em!important;

        h1 {
            padding-top: .5em!important;
        }
    }

    .logo-wrapper {
        order: -1;
        width: 100%!important;
        justify-items: center;
        margin-top: 2em;
    }

    .content-wrapper {
        width: 100%!important;
    }
}

@media(max-width: 500px) {
    .home-content h2 {
        width: fit-content;
        margin: auto!important;
        margin-bottom: 2em!important;
    }
}