@import '../../variables';

h1{
    margin: 0;
    padding-top: 14vw;
    color: $text-color;
    font-family: $headings;
    z-index: 10;
    font-size: 4em;
    font-weight: lighter;
}

p{
    color: $text-color !important;
    z-index: 10;
}

.home-top{
    height: 100vh;
    top: 0;
    width: 40vw;
    margin-left: 7vw;
}

.home-content{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.box_blue{
    height: 100vh;
    opacity: 0.718;
    width: 100vw;
    background-color: #111555ff;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
}

.galaxy_wrapper{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/graphics/galaxy.jpg');
    background-size: cover;
    background-position: left;
    z-index: -2;
}

#logo_circle{
    position: absolute;
    height: 25vw;
    right: 9vw;
    top: 60%;
    transform: translateY(-60%);
    cursor: auto;
}

#blog_button{
    display: inline;
    position: absolute;
    right: 8.5vw;
    top: 38%;
}

h2{
    font-family: $headings;
    color: $text-color;
    font-weight: lighter;
    margin-left: 7vw;
    margin-top: 5vw;
}
// .clouds-behind, .clouds-middle, .clouds-front{
//     position: absolute;
// }

// .clouds-behind{
//     width: 100vw;
//     z-index: -2;
// }

// .clouds-infront{
//     width: 150vw;
//     z-index: -1;
//     right: 150vw;
// }
@media (max-width: 1000px){
    #logo_circle{
        display: none;
    }

    .home-top{
        margin: auto;
        width: 80vw;
        margin-top: 8%;
    }
}

@media (max-width: 900px){
    h1{
        font-size: 8vw;
    }
}