@import '../../variables';

footer {
    background-color: $main-color;
    
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 2em 1em;
    gap: 2em;

    p {
        width: 100%;
        text-align: center;
        word-wrap: break-word;
    }

    span {
        word-wrap: break-word;
        max-width: 100%;
    }

    nav {
        display: flex;
        width: 100%;
        align-items: center;
        font-family: $headings;
    }

    ul{
        display: flex;
        width: 100%;
        list-style: none;
        gap: 2em 5em;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        li {
            text-align: center;
        }

        a{
            text-decoration: none;
            color: $text-color;
            text-transform: uppercase;
        }
    }

    img{
        height: 3.5em;
        margin-left: -43vw;
    }

    a{
        color: $blog-color;
    }
}

.active-lang{
    color: $text-color;
}
