@import '../../variables';

footer {
    background-color: $main-color;
    
    display: flex;
    height: 20vw;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    nav {
        display: flex;
        align-items: center;
        font-family: $headings;
    }

    ul{
        display: flex;
        list-style: none;
        gap: 5em;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

    
        a{
            text-decoration: none;
            color: $text-color;
            text-transform: uppercase;
        }
    }

    img{
        height: 3.5em;
        margin-left: -43vw;
    }

    a{
        color: $blog-color;
    }
}
