@import '../../variables';

.button {
    &.button-primary {
        border: 2px solid $blog-color;
        background: none;
        font-family: $headings;
        color: $blog-color;
        cursor: pointer;
        border-radius: 50px;
        padding: .7em;
        min-width: 12vw;
        font-size: 1em;
        white-space: nowrap;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 29.5em;
        z-index: 12;
    }

    &.button-secondary {
        border: 2px solid $text-color;
        background: none;
        font-family: $headings;
        color: $text-color;
        cursor: pointer;
        border-radius: 50px;
        padding: .7em;
        min-width: 14vw;
        font-size: 1.2em;
        margin-right: 1em;
        margin-top: 1.5em;
        white-space: nowrap;
    }
}

