$error-background: rgb(138, 59, 59);
$success-background:rgb(59, 138, 88);
$info-background: #627eaeff;
$main-color: #495182ff;
$text-color: #d6d8e5ff;
$blog-color: #627eaeff;
$blog-textcolor: #0f1542ff;

$headings: Astro Space;
$text: Nunito;