@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@font-face {
    font-family: Astro Space;
    src: url('fonts/AstroSpace-eZ2Bg.ttf');
  }

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    line-height: 1.5;
}

body {
    padding: 0;
    margin: 0;
    font-family: Nunito;
    background-color: $main-color;
}



