@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@font-face {
    font-family: Astro Space;
    src: url('fonts/AstroSpace-eZ2Bg.ttf');
  }

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    line-height: 1.5;
}

body {
    margin: 0;
    font-family: Nunito;
    background-color: $main-color;
    background: linear-gradient($main-color 40%, $blog-color);
}

h2{
    font-family: $headings;
    color: $text-color;
    font-weight: lighter;
    margin-left: 7vw;
    margin-top: 5vw;
}



