@import '../../variables';

header{
    background-color: rgba(224, 226, 240, 0.289);
    backdrop-filter: blur(5px);
    position: fixed;
    width: 100vw;
    margin: 0;
    top: 0;
    z-index: 100;

    ul{
        display: flex;
        list-style: none;
        gap: 5em;
        position: absolute;
        right: 10vw;
    
        a{
            text-decoration: none;
            color: $text-color;
            text-transform: uppercase;
        }
    }
}

.nav_header {
    display: flex;
    align-items: center;
    padding: 1.5em;
    font-family: $headings;
}

#logo_simplified{
    height: 3.5em;
    margin-left: 5vw;

    &:hover {
        filter: brightness(1.5);
    }
}

.burger-menu{
    display: none;
    flex-direction: column;
    height: 4em;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5vw;
    cursor: pointer;
    transition: .2s;
    transform-origin: right;
}

.burger-line{
    background-color: $text-color;
    height: .5em;
    border-radius: 20px;
    width: 3em;
    margin: .3em;
    transition: .1s;
    transform-origin: center;
}

@media (max-width: 600px){
    
    .burger-menu{
        display: flex;
    }

    .nav_header ul a{
        display: none !important;
    }

    #cb-burger-menu:checked + .burger-menu {
        transform: translateY(-50%) translateX(1em);

        .burger-line:first-of-type {
            transform: rotate(45deg) translateY(1.5em);
        }

        .burger-line:nth-of-type(2) {
            transform: rotate(45deg) scaleY(0);
        }

        .burger-line:last-of-type {
            transform: rotate(-45deg) translateY(-1.5em);
        }
    }

    #cb-burger-menu:checked + .burger-menu ~ ul a {
        display: block !important;
        padding: 2em;
        width: 100vw;
        text-align: center;
    }    

    #cb-burger-menu:checked + .burger-menu ~ ul a:hover{
        background: rgba(214, 216, 229, 0.322);
        backdrop-filter: blur(10px);
    }

    #cb-burger-menu:checked + .burger-menu ~ ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100vw;
        top: 6.5em;
        right: 0;
        justify-content: center;
        align-items: center;
        gap: 0;
        background: rgba(73, 81, 130, 0.856);
        backdrop-filter: blur(5px) !important;
    }
}

