@import '../../variables';

.padding-top {
    padding-top: 4.5em;
}

.blogdata_title{
    animation: none;
}

#blog_button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 5em;
}