@import '../../variables';

.project-top {
    .squares{
        height: 25vw;
        order: 1;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: calc(100px + 5em);
    gap: 5em;

    h1{
        color: $text-color;
        font-family: $headings;
        z-index: 10;
        font-size: 5vw !important;
        font-weight: lighter;
    }

    h2 {
        font-family: $text;
        color: $blog-color;
        font-size: 2.5em;
        margin-bottom: 0;
    }

    a{
        text-decoration: none;
        color: $blog-color;
        font-size: 1.5em;
        padding-top: 1em;
        display: block;
    }
}

.primary-mission{
    background-color: $main-color;
    height: max-content;
    padding-bottom: 8vw;
    text-align: left !important;

    h1{
        text-align: center;
        padding-top: 3vw!important;
    }

    h2{
        font-family: $text;
        color: #627eaeff;
        font-weight: bold;
        filter: brightness(1.2);
        margin-left: 7.5em !important;
    }

    .missions{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6vw;
        background-color: $main-color;
        gap: 3vw;
        flex-wrap: wrap;
    }

    .mission{
        width: 20em;
        max-width: calc(100vw - 2em);
        height: 8em;
        position: relative;
        margin: 1em;
        // background-color: $blog-textcolor;

        img{
            height: 6em;
            position: absolute;
            top: .5em;
        }

        h2{
            margin: 0;
            margin-left: 5em;
            padding: 0;
        }

        p{
            margin-left: 7.5em;
            max-width: calc(100vw - 10em);
            word-wrap: break-word;
            position: absolute;
        }
    }
}

.secondary-mission{

   .box_blue_1{
    height: 1000px;
    opacity: 0.718;
    width: 100vw;
    background-color: #111555ff;
    position: absolute;
    z-index: -1;
    left: 0;
   }

   overflow: hidden;
   position: relative;

   .stars_wrapper{
    background-image: url('/graphics/stars.jpg');
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    position: absolute;
   }

   h1{
    text-align: center;
    padding-top: 3vw !important;
   }

   .card{   
        position: relative;
        width: 40em;
        max-width: calc(100vw - 1em);
        margin: auto;
        margin-top: 3vw;
        background: linear-gradient(hsla(232, 28%, 40%, 0.7) 25%, rgba(214, 216, 229, 0.7) 25%);
        border-radius: 10px;
        margin-bottom: 5em;
        padding: 2em;

        p{
            text-align: justify;
            hyphens: auto;
            color: $main-color !important;
            margin-top: 6em;
        }
        
        img{
            height: 6em;
            width: 6em;
            padding: .5em;
            transform: translateY(2em);
            top: 6em;
            background-color: $text-color;
            border-radius: 1000px;
            margin: auto;
        }
    
   }

}

@media (max-width: 900px){
    .project-top h1{
        font-size: 10vw !important;
    }
    
    .squares{
        display: none;
    }

    .primary-mission h1{
        font-size: 8vw !important;
        margin-top: 2em !important;
    }
    
    .secondary-mission h1{
        font-size: 7vw !important;
    }

    .box_blue, .galaxy_wrapper {
        height: 120vh;
    }
}

@media (max-width: 400px){

    .project-top h2{
        font-size: 1.5em;
    }

    .project-top a{
        font-size: 1.2em;
    }
}

@media (max-width: 700px){

    .secondary-mission h1{
        padding-top: 15vw !important;
    }

    .secondary-mission .card{
        width: 100vw !important;
        margin: 0 !important;
        border-radius: 0 !important;
        margin-top: 15vw !important;
    }
}

@media (max-width: 500px){
    
    .secondary-mission .card{
        margin-left: 0 !important;
        width: calc(100vw - 1em) !important;
    }

    .secondary-mission .fade{
        width: 100vw !important;
    }

    .mission {
        img {
            height: 4em!important;
        }

        p, h2 {
            margin-left: 5em!important;
            max-width: calc(100vw - 7em)!important;
        }
    }

    .teammembers p{
        margin: 2em;
        text-align: center;
        margin-top: 2em !important;
    }
    
    .box_blue, .galaxy_wrapper {
        height: 110vh !important;
    }
}
