@import '../../variables';

.project-top {


    .squares{
        height: 28em;
        position: absolute;
        right: 10vw;
        top: 13vw;
        z-index: -1;
    }

    .project-wrapper{
        height: 100vh;
    }

    h1{
        margin-left: 7vw;
        padding-top: 14vw;
        color: $text-color;
        font-family: $headings;
        z-index: 10;
        font-size: 5vw !important;
        font-weight: lighter;
        padding-top: 10vw !important;
    }

    p{
        margin-left: 7vw;
        margin-right: 45vw;
        margin-bottom: 2em;
    }

    h2{
        margin-top: 1vw;
        font-family: $text;
        color: $blog-color;
        font-size: 2.5em;
        margin-bottom: 0;
        margin-left: 7vw;
    }

    a{
        margin-left: 7vw;
        text-decoration: none;
        color: $blog-color;
        font-size: 1.5em;
    }

    height: 100vh;
}

.primary-mission{
    background-color: $main-color;
    height: max-content;
    padding-bottom: 8vw;
    text-align: left !important;

    h1{
        text-align: center;
        padding-top: 8vw;
    }

    h2{
        font-family: $text;
        color: #627eaeff;
        font-weight: bold;
        filter: brightness(1.2);
        margin-left: 7.5em !important;
    }

    .missions{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6vw;
        background-color: $main-color;
        gap: 3vw;
        flex-wrap: wrap;
    }

    .mission{
        width: 20em;
        height: 8em;
        position: relative;
        margin: 1em;
        // background-color: $blog-textcolor;

        img{
            height: 6em;
            position: absolute;
            top: .5em;
        }

        h2{
            margin: 0;
            margin-left: 5em;
            padding: 0;
        }

        p{
            margin-left: 7.5em;
            position: absolute;
        }
    }
}

.secondary-mission{

   .box_blue_1{
    height: 1000px;
    opacity: 0.718;
    width: 100vw;
    background-color: #111555ff;
    position: absolute;
    z-index: -1;
    left: 0;
   }

   .stars_wrapper{
    background-image: url('/graphics/stars.jpg');
    background-size: cover;
    width: 100vw;
    z-index: -1;
    position: absolute;
   }

   h1{
    text-align: center;
    padding-top: 3vw !important;
   }

   .card{   
        position: relative;
        height: 35em;
        width: 40em;
        margin: auto;
        margin-top: 3vw;
        background: linear-gradient(hsla(232, 28%, 40%, 0.7) 25%, rgba(214, 216, 229, 0.7) 25%);
        border-radius: 10px;
        margin-bottom: 5em;

        p{
            text-align: justify;
            hyphens: auto;
            color: $main-color !important;
            position: absolute;
            top: 65%;
            transform: translateY(-50%);
            margin: 0 2em 0 2em;
        }
        
        img{
            height: 6em;
            width: 6em;
            padding: .5em;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 6em;
            background-color: $text-color;
            border-radius: 1000px;
        }
    
   }

}


@media (max-width: 1500px){
    .project-top h1{
        padding-top: 14vw !important;
    }

    .project-top p{
        margin-right: 30vw !important;
    }

    
    .squares{
        display: none;
    }
}


@media (max-width: 1000px){

    .project-top p{
        margin-right: 20vw !important;
    }
}

@media (max-width: 900px){
    .project-top h1{
        font-size: 10vw !important;
    }

    .primary-mission h1{
        font-size: 8vw !important;
        margin-top: 2em !important;
    }
    
    .secondary-mission h1{
        font-size: 7vw !important;
    }

    .project-top p{
        margin-right: 10vw !important;
    }

    .box_blue, .galaxy_wrapper {
        height: 120vh;
    }
}

@media (max-width: 400px){
    .project-top h1{
        padding-top: 10vw !important;
    }

    .project-top h2{
        font-size: 1.5em;
    }

    .project-top a{
        font-size: 1.2em;
    }

    .project-top p{
        margin-right: 5vw !important;
    }
}

@media (max-height: 800px){
    .project-top h1{
        padding-top: 5vw !important;
    }

    .project-top p{
        margin-bottom: 1em !important;
    }
}

@media (max-width: 700px){

    .secondary-mission h1{
        padding-top: 15vw !important;
    }

    .secondary-mission .card{
        width: 100vw !important;
        margin: 0 !important;
        border-radius: 0 !important;
        margin-top: 15vw !important;
    }
}

@media (max-width: 500px){
    
    .card{
        margin-left: 0 !important;
        width: 100vw !important;
    }

    .fade{
        width: 100vw !important;
    }

    .teammembers p{
        margin: 2em;
        text-align: center;
        margin-top: 2em !important;
    }

    
    .box_blue, .galaxy_wrapper {
        height: 110vh !important;
    }
}
