@import '../../variables';

.about {
    h1{
        margin-left: 7vw;
        padding-top: 10vh!important;
        color: $text-color;
        font-family: $headings;
        z-index: 10;
        font-size: 5vw !important;
        font-weight: lighter;
    }

    background-image: url('/graphics/galaxy.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-top: -100px;

    * {
        z-index: 1;
        position: relative;
    }

    &::after {
        content: '';
        position: absolute!important;
        width: 100%;
        height: 500vh;
        top: 0;
        left: 0;
        opacity: 0.9;
        background-color: #111555ff;
    }

    p{
        margin-left: 7vw;
        margin-top: 1em;
    }

    .introduction{
        margin-right: 50vw;
    }

    .box_blue{
        opacity: 1;
        background: linear-gradient(rgba(17, 22, 85, 0.72), #495182ff);
    }

    .teammember{
        width: 25em;
        position: relative;
        margin-right: 5em;

        h1{
            margin-left: .3em;
            padding-top: 0;
            font-size: 2em !important;
            position: absolute;
            bottom: 1em;
        }
    }

    .teammembers{
        display: flex;
        width: 93vw;
        flex-wrap: wrap;
        margin-bottom: 10vw;

        p{
            text-align: left;
            margin-left: 7vw;
            margin-right: 0;
            width: 93vw;
        }
    }

    .card{
        height: 33em;
        width: 24em;
        background-size: cover;
        margin-left: 7vw;
        margin-top: 5em;
        position: relative;
        
        a {
            position: absolute;
            right: 2em;
            z-index: 3;
            bottom: 2.5em;
            width: 2.3em;
            height: 2.3em;
            cursor: pointer;

            img {
                width: 100%;
            }
        }

        .fade{
            width: 24em;
            height: 10em;
            background: linear-gradient(transparent, #282563ff);
            position: absolute;
            bottom: 0;
        }
    }

    .teammember:nth-of-type(1) .card{
        background-image: url('/graphics/ennio.jpeg');

        &:hover {
            background-image: url('/graphics/ennio2.jpg');
        }
    }

    .teammember:nth-of-type(2) .card{
        background-image: url('/graphics/robert.jpeg');
        background-size: 130%;
        background-position: center;

        &:hover {
            background-image: url('/graphics/robert2.jpg');
        }
    }

    .teammember:nth-of-type(3) .card{
        background-image: url('/graphics/tanja.jpeg');

        &:hover {
            background-image: url('/graphics/tanja2.jpg');
        }
    }

    .teammember:nth-of-type(4) .card{
        background-image: url('/graphics/simeon.jpeg');

        &:hover {
            background-image: url('/graphics/simeon2.jpg');
        }
    }

    .teammember:nth-of-type(5) .card{
        background-image: url('/graphics/amelie.jpeg');

        &:hover {
            background-image: url('/graphics/amelie2.jpg');
        }
    }

    .teammember:nth-of-type(6) .card{
        background-image: url('/graphics/maris.jpeg');
        background-size: 130%;
        background-position: center;

        &:hover {
            background-image: url('/graphics/maris2.jpg');
        }
    }
    
}

.about {
    padding-top: 100px;
} 



@media (max-width: 1500px){
    .introduction{
        margin-right: 30vw !important;
    }
}

@media (max-width: 1000px){
    .about h1{
        font-size: 7vw !important;
    }

    .introduction{
        margin-right: 20vw !important;
    }
}

@media (max-width: 900px){
    .about h1{
        font-size: 10vw !important;
    }

    .introduction{
        margin-right: 10vw !important;
    }
}

@media (max-width: 400px){
    .introduction{
        margin-right: 5vw !important;
    }
}

@media (max-width: 500px){
    
    .card{
        margin-left: 0 !important;
        width: 100vw !important;
    }

    .fade{
        width: 100vw !important;
    }

    .teammembers p{
        margin: 2em;
        margin-bottom: 0;
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin-top: 2em !important;
    }
}







