@import '../../variables';

.infomessage {
    position: fixed;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: calc(100% - 2em);
    color: $text-color;
    background-color: $error-background;
    padding: 1em;
    padding-right: 2.5em;
    border-radius: 1em;
    bottom: -10em;
    box-shadow: 0 0 5em -1em black!important;

    .close {
        padding: 1em;
        top: 50%;
        transform: translateY(-51%);
        cursor: pointer;
        position: absolute;
        font-size: 16px;
        right: 0;

        &:hover {
            opacity: 0.5;
        }
    }

    &.show {
        animation: infomessage_in 0.3s linear;
        animation-fill-mode: forwards;
    }

    &.hide {
        animation: infomessage_out 0.2s ease-out;
        animation-fill-mode: forwards;
    }
}

@keyframes infomessage_in {
    0%{bottom: -5em}
    75%{bottom: 2em}
    90%{bottom: 0.5em}
    100%{bottom: 2em}
}

@keyframes infomessage_out {
    0%{bottom: 2em}
    100%{bottom: -10em}
}
